.cs1102-project-topic2 {
  position: absolute;
  top: 49px;
  left: calc(50% - 314px);
  letter-spacing: -0.02em;
}
.reflections-child {
  position: absolute;
  width: 80.83%;
  top: 132px;
  right: 9.58%;
  left: 9.58%;
  border-radius: var(--br-3xs);
  background-color: var(--color-midnightblue-100);
  height: 68px;
}
.button1 {
  position: relative;
  font-size: var(--font-size-11xl);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: var(--header-1);
  color: var(--color-white);
  text-align: center;
}
.button,
.button2,
.button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-12xl);
  position: absolute;
  top: 132px;
  overflow: hidden;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.79%;
  height: 68px;
  box-sizing: border-box;
}
.button {
  background-color: var(--color-slategray);
  right: 9.58%;
  border-radius: var(--br-21xl);
}
.button:hover,
.button2:hover,
.button4:hover {
  background-color: var(--color-slategray);
}
.button2 {
  background-color: transparent;
  border-radius: var(--br-21xl);
  left: 9.58%;
}
.button5 {
  width: 95px;
  position: relative;
  font-size: var(--font-size-11xl);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: var(--header-1);
  color: var(--color-white);
  text-align: center;
  flex-shrink: 0;
}
.button4 {
  background-color: transparent;
  left: 42.61%;
  border-radius: var(--br-21xl);
}
.cicles-icon2 {
  position: absolute;
  top: -115px;
  left: -78px;
  width: 1476px;
  height: 710px;
}
.reflections {
  width: 100%;
  position: relative;
  background-color: var(--color-midnightblue-200);
  height: 1803px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
  font-family: var(--button);
}
